@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    var authorize = await AuthorizationService.AuthorizeAsync(User, "IsContributor");

}

<h2>  @ViewData["content"] </h2>
<h2>Access Token</h2>  @ViewData["AccessToken"]
<h2>Identity Token</h2>  @ViewData["IdentityToken"]
<h2>Refresh Token</h2>  @ViewData["RefreshToken"]
<h2>Expiration </h2>  @ViewData["Expiration"]
<h2>UTC </h2>  @ViewData["UTC"]
<br/>
@if (authorize.Succeeded)
{
    if (User.IsInRole("Administrator"))
    {
        <a asp-action="Admin" asp-controller="Home">If you wan't to do Admin Work . Click here. </a>
    }
    <a asp-action="Contribute" asp-controller="Home">If you wan't to do Contribute Work .Click here. </a>
}
else if (User.IsInRole("Reader"))
{
    <a asp-action="Reader" asp-controller="Home">Reader. </a>
}
else
{
    <a asp-action="Admin" asp-controller="Home">Welcome. </a>
}

